[user]
  name = k-nasa
  email = htilcs1115@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
  pager = delta
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
# [commit]
#   template = ~/.commit_template
[delta]
  side-by-side = false
[interactive]
  diffFilter = delta --color-only
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[pull]
	rebase = false