[user]
  name = k-nasa
  email = htilcs1115@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  editor = nvim
  excludesfile = /Users/nasa/.gitignore_global
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[commit]
  template = /Users/nasa/.commit_template

# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
  path = /Users/nasa/.netlify/helper/git-config
